.active-topic {
  background-color: #007bff !important;
  color: white;
  font-weight: bold;
  border-left: 4px solid #0056b3;
  width: 218px;
}

.scroll-body {
  max-height: 200px; /* Adjust height as needed */
  overflow-y: auto;
  padding-right: 5px;
}

/* Optional: Better scrollbar styling (Chrome/Edge only) */
.scroll-body::-webkit-scrollbar {
  width: 6px;
}

.scroll-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.use-hand-cursor{
  cursor: pointer;
}
