/* You can add global styles to this file, and also import other style files */

body, html {
  font-family: 'Times New Roman', Times, serif !important;
}

#container {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
}
